<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" verbose="10" name="testSuite"
	parallel="tests">

	
	<test verbose="2" name="UserModule" group-by-instances="true">
	
		<classes>
		<class name="Com.Cen.TestCases.commonTest"/>
		</classes>   
	</test>
</suite>